<!DOCTYPE html>​

<html>
    <head>​
        <title>Controle de Frequência</title>
        <meta name="viewport" content="width = device-width, initial-scale =1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>​
    </head>​
    <body>
        <div class="container" style="background-color: #f6f2f0;">
            <div class="row align-items-center">
                <div class="col">
                    <center>
                        {{!-- créditos da imagem "Vecteezy.com" --}}
                        <img src="../images/hall-with-teacher.jpg" width="80%" alt="Imagem Não Encontrada" />
                    </center>
                </div>
                <div class="col" style="background-color: #b4b1d8;">
                    <div class="col">
                        <div> 
                            <center>
                                {{{body}}}
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>​