<!DOCTYPE html>
<html>
    <head></head>
    <body></body>
    {{#if isAdministrador}}
        <div class="list-group col-3">
            <a href="/frequencia" class="list-group-item list-group-item-action list-group-item-secondary">Lançar Frequência</a>
            <a href="/participanteCreate" class="list-group-item list-group-item-action list-group-item-secondary">Visualizar Mais Votados</a>
            <a href="/relatorio" class="list-group-item list-group-item-action list-group-item-secondary">Relatório de Frequência</a>
        </div>
    {{/if}}
    {{#if isProfessor}}
        <div class="list-group col-3">
            <a href="/relatorio" class="list-group-item list-group-item-action list-group-item-secondary">Relatório de Frequência</a>
        </div>
    {{/if}}
    {{#if isOrganizador}}
        <div class="list-group col-3">
            <a href="/frequencia" class="list-group-item list-group-item-action list-group-item-secondary">Lançar Frequência</a>
            <a href="/participanteCreate" class="list-group-item list-group-item-action list-group-item-secondary">Visualizar Mais Votados</a>
        </div>
    {{/if}}
</html>