<form class="text-dark" action="/pessoaCreate" method="post">
    <div class="form-group col-md-5" style="background-color: #b4b1d8;">
        <br>
        <div class="form-group" style="background-color: #f6f2f0;">
            <h2>Cadastrar Usuário</h2>
            <div class="input-group input-group-sm col-8">
                <input type="text" class="form-control text-dark" placeholder="Nome" id="campoNome" name="nome">
            </div>
            <br>
            <div class="input-group input-group-sm col-8">
                <input type="text" class="form-control text-dark" placeholder="Login" id="campoLogin" name="login">
            </div>
            <br>
            <div class="input-group input-group-sm col-8">
                <input type="password" class="form-control text-dark" placeholder="Senha" id="campoSenha" name="senha">
            </div>
            <br>
            <div class="input-group input-group-sm col-8">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="campoTipo">Tipo</label>
                </div>
                <select class="custom-select text-dark" placeholder="Selecione" id="campoTipo" name="tipo">
                    <option value="2" selected>Organizador</option>
                    <option value="1">Professor</option>
                    <option value="0">Administrador</option>
                </select>
            </div>
            <br>
            <input type="submit" class="btn btn-sm btn-block col-3" style="background-color: #e4b94c;" value="Cadastrar">
            <br>
        </div>
        <br>
    </div>
</form>